.app-frame {
  height: 100%;
  width: 100%;
  border: none;
  background: url(../assets/img/background.jpg) no-repeat center fixed;
  background-size: cover;
  -webkit-app-region: drag;
  z-index: -1;
}

.app-main {
  position: absolute;
  top: 64px;
  height: 656px;
  left: 0;
  width: 100%;
  z-index: 100;
  -webkit-app-region: no-drag;
}
